* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    /*height: fit-content;*/
    height: 100%;
}

body {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    width: 100%;

    transition: all 0.5s ease;
}

#void-search-alert {
    display: none;
    position: absolute;
    max-width: fit-content;
    left: 500px;
    top: 0px;

    transition: all 0.3s ease;
}

.signup-alerts {
    display: none;
    position: absolute;
    max-width: 400px;
    left: 320px;
    bottom: 0px;
    margin-bottom: 0px;

    transition: all 0.3s ease;
}

.favorites-alerts {
    display: none;
    position: absolute;
    max-width: 400px;
    width: 100%;
    left: 400px;
    top: 0px;
    text-align: center;

    transition: all 0.3s ease;
}

.search-bar-container {
    display: none;
    flex-flow: row nowrap;
    position: absolute;
    left: 320px;
    top: 0px;

    transition: all 0.4s ease;
}

#search-bar {
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    background: #f1f1f1;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    width: 730px;

    transition: all 0.3s ease;
}

#search-bar:hover {
    background: #e2e1e1;
}

#search-button {
    margin-left: 20px;
    background: #f1f1f1;
    border: 1px solid #c1c1c1;
    border-radius: 30px;
    padding: 13px 15px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

#search-button:hover {
    background: black;
}

#search-button:active {
    background: black;
}

.top-menu {
    display: none;
    border-radius: 30px;
    margin: 20px 20px auto 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    width: 100%;

    transition: all 0.4s ease;
}

.navbar-toggler {
    display: none;
}

.navbar-collapse {
    display: none;
}

#signup-button {
    background-color: #005bbb;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    font-size: 1em;
    font-weight: 700;

    transition: all 0.3s ease;
}

#signup-button:hover {
    background-color: #000cbb;
}

.signup-form-container {
    display: none;
    position: absolute;
    left: 30px;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 260px;
    width: 100%;

    transition: all 0.3s ease;
    transform: scale(0);
}

#close-signup-form {
    float: right;
    background-color: rgb(247, 115, 115);
    border-radius: 30px;

    transition: all 0.1s ease;
}

#close-signup-form:hover {
    transform: scale(1.20);
}

#close-signup-form:focus {
    outline: none !important;
    box-shadow: none;
}

#signup-form {
    background-color: #fefefe;
    border: 1px solid #f1f1f1;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
    padding: 10px;

    transition: all 1s ease;
}

#signup-form input[type=text], #signup-form input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
    border: none;
    border-radius: 30px;

    transition: all 0.2s ease;
}

#signup-form input[type=text]:hover, #signup-form input[type=password]:hover {
    transform: scale(1.02);
    background-color: #ebebeb;
    /*margin-top: 10px;*/
}

#signup-form input[type=text]:focus, #signup-form input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    /*margin-top: 10px;*/
}

#signup-form label {
    font-size: 1.3em;
    font-weight: 800;
}

#submit-signup-button {
    color: white;
    background-color: #23d15d;
    border: 0px;
    font-weight: 600;
    border-radius: 30px;

    transition: transform 0.2s ease;
}

#submit-signup-button:hover {
    background-color: #1eb952;
    transform: scale(1.10);
}

#login-button {
    background-color: #ffd500;
    border-radius: 30px;
    color: #ffffff;
    padding: 10px 30px;
    font-size: 1em;
    font-weight: 700;

    transition: all 0.3s ease;
}

#login-button:hover {
    background-color: #ffae00;
}

#close-login-form {
    float: right;
    background-color: rgb(247, 115, 115);
    border-radius: 30px;

    transition: all 0.1s ease;
}

#close-login-form:hover {
    /*border-radius: 5px;*/
    transform: scale(1.20);
}

#close-login-form:focus {
    outline: none !important;
    box-shadow: none;
}

.login-form-container {
    display: none;
    position: absolute;
    text-align: center;
    left: 30px;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 260px;
    width: 100%;
    z-index: 2;

    transition: all 0.3s ease;
    transform: scale(0);
}

#login-form {
    background-color: #fefefe;
    border: 1px solid #f1f1f1;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
    padding: 10px;

    transition: all 1s ease;
}

#login-form input[type=text], #login-form input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
    border: none;
    border-radius: 30px;

    transition: all 0.2s ease;
}

#login-form input[type=text]:hover, #login-form input[type=password]:hover {
    transform: scale(1.02);
    background-color: #ebebeb;
    /*margin-top: 10px;*/
}

#login-form input[type=text]:focus, #login-form input[type=password]:focus {
    transform: scale(1.02);
    /*margin-top: 10px;*/
    background-color: #ddd;
    outline: none;
}

#login-form label {
    font-size: 1.3em;
    font-weight: 800;
}

#submit-login-button {
    color: white;
    background-color: #23d15d;
    border: 0px;
    font-weight: 600;
    border-radius: 30px;

    transition: transform 0.2s ease;
}

#submit-login-button:hover {
    background-color: #1eb952;
    transform: scale(1.10);
}

.left-menu {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    max-width: 260px;
    width: 100%;
    height: 500px;
    margin: 20px 40px 0px 30px; /* clockwise */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 30px;

    transition: all 0.4s ease;
}

#title {
    font-size: 2em;
    font-weight: 1000;
    text-align: center;
    color: rgba(0,91,187,1);
    color: rgb(36, 255, 135);

    transition: transform 0.2s ease;
}

#title:hover {
    transform: scale(1.02);
}

.darkmode {
    background-color: rgb(80, 80, 80);
    padding: 0px 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(54, 54, 54);

    transition: all 0.3s ease;
}

#darkmode-btn {
    background-color: white;
    padding: 5px 17px;
    border-radius: 30px;
    width: 20px;

    transition: all 0.3s ease;
}

#darkmode-btn:hover {
    background-color: rgb(236, 236, 236);
}

#darkmode-btn:active {
    background-color: rgb(206, 206, 206);
}

.dark {
    transform: translateX(-20px);
}

.light {
    transform: translateX(20px);
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.nav {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    font-size: 1em;
    font-weight: 550;
    margin: 0px 0px 10px 0px;

    transition: all 0.2s ease;
}

.nav:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: black;
    
    transform: scale(1.10);
}

.current {
    background-color: black;
    color: white;
    padding: 15px 10px;
}

.current:hover {
    color: white;
}

.subtitle {
    margin-top: 50px;
    color: #b4b3b3;
    font-size: 1em;
    font-weight: 550;

    transition: all 0.3s ease;
}

.user-profile {
    display: none;
    margin-top: 10px;
}

.user-buttons {
    text-align: center;
    margin-top: 10px;
}

.user-pic {
    margin: 0px 20px 0px 5px;
    border: 1px solid black;
    border-radius: 25px;

    transition: all 0.3s ease;
}

.user-pic:hover {
    transform: scale(1.2);
}

#signup-button-lm {
    /*background-color: #9e44f3;*/
    background-color: #005bbb;
    /*background-color: #0080bb;*/
    border-radius: 30px;
    padding: 10px 5px;
    color: white;
    font-size: 1em;
    font-weight: 700;
    margin-right: 5px;

    transition: all 0.5s ease;
}

#signup-button-lm:hover {
    /*background-color: #8744f3;*/
    /*background-color: #003bbb;*/
    background-color: #000cbb;
}

#login-button-lm {
    /*background-color: #ff9102;*/
    background-color: #ffd500;
    border-radius: 30px;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 700;

    transition: all 0.5s ease;
}

#login-button-lm:hover {
    /*background-color: #ff5f02;*/
    background-color: #ffae00;

}

.right-container {
    display: flex;
    flex-flow: row wrap;
    margin: 20px 30px 20px 900px;
    border-radius: 30px;
    padding: 20px;
    max-width: max-content;
    height: fit-content;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow-x: auto;

    transition: all 0.3s ease;
    transform: scale(0.0);
}

.search-location-container {
    display: inline-block;
    max-width: 1500px;
    width: 100%;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b4b3b3;
}

#search-location-title {
    font-size: 2.5em;
    font-weight: 1000;
}

.search-location-cards {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;
    margin: 20px;
    padding: 10px;

    transition: all 0.3s ease;
}

.location {
    color: #ffffff;
    display: inline-block;
    /*white-space: nowrap;*/    /* Non fa andare a capo la scritta all'interno delle schede */
    border-radius: 40px;
    background-size: cover;
    background-position: center center;
    /*padding: 100px 130px;*/
    padding: 80px 100px;
    font-size: 2em;
    font-weight: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    /* scroll-snap-align: start; */
    transition: transform 0.2s ease;
}

.location:hover {
    transform: scale(1.05);
    /*color: transparent;*/
    filter: blur(0px);
}

.map-container {
    display: block;
}

#map {
    display: block;
    position: absolute;
    top: 20px;
    left: 320px;
    max-width: 800px;
    width: 100%;
    height: 800px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);

    transition: all 0.3s ease;
}

.marker-img {
    border-radius: 15px;
    border: 1px solid #fdfdfd;
}

#add-favorite {
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 10px;
}

.favorites-list {
    position: absolute;
    display: none;
    max-width: 260px;
    width: 100%;
    max-height: max-content;
    margin-bottom: 20px;
    left: 30px;
    top: 100vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 10px;
    
    transition: all 0.4s ease;
}

#favorites-title {
    font-weight: 1000;
    font-size: 1.5em;
    text-align: left;
    margin: 10px auto auto 10px;
}

#close-favorites-list {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgb(247, 115, 115);
    border-radius: 30px;
    align-self: flex-end;

    transition: all 0.1s ease;
}

#close-favorites-list:hover {
    transform: scale(1.10);
}

#close-favorites-list:focus {
    outline: none !important;
    box-shadow: none;
}

.favorites-cards {
    display: block;
    max-height: 650px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 20px;
    align-items: center;

    transition: all 0.3s ease;
}

.favorite {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 40px;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 65px;
    font-size: 1em;
    font-weight: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    transition: transform 0.2s ease;
}

.favorite:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#delete-favorite-button {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background-color: rgb(255, 47, 47);
    border-radius: 30px;

    transition: all 0.1s ease;
}



/* --------------------------------------*/
/* 1300 <---> 861 */
@media screen and (max-width: 1300px) {
    .left-menu {
        display: none;
    }
    body {
        display: inline-block;
        text-align: center;
    }
    .top-menu {
        display: inline-block;
        width: 820px;
    }
    #title {
        font-size: 1.6em;
    }
    .nav {
        padding: 10px 12px;
        border-radius: 30px;
        margin: auto auto auto 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    }
    .signup-form-container {
        position: inherit;
        max-width: 820px;
        margin: 20px;
    }
    .login-form-container {
        position: inherit;
        max-width: 820px;
        margin: 20px
    }
    .search-bar-container {
        display: none;
        position: inherit;
        margin: 20px auto 20px auto;

        transform: scale(0.0);
    }
    #search-bar {
        padding: 10px 15px;
        width: 730px;
    }
    #search-button {
        padding: 10px 12px;
    }
    #map {
        position: inherit;
        max-width: 820px;
        height: 420px;
        margin: 20px auto 20px auto;
        left: inherit;
        top: inherit;
    }
    .right-container {
        display: none;
        flex-flow: row wrap;
        margin: 20px auto 20px auto;
        border-radius: 30px;
        padding: 20px;
        max-width: 820px;
        height: fit-content;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        overflow-x: auto;

        transform: scale(1.0);
    }
    .favorites-list {
        position: absolute;
        display: none;
        max-width: 260px;
        width: 100%;
        max-height: max-content;
        margin-bottom: 20px;
        top: 20px;
        left: auto;
        right: -30vh;
    }
    #void-search-alert {
        display: none;
        position: inherit;
        max-width: 400px;
        left: unset;
        margin: 20px auto 0px auto;

        transition: all 0.3s ease;
        transform: scale(0.0);
    }
    .signup-alerts {
        display: none;
        position: inherit;
        max-width: 400px;
        left: unset;
        bottom: unset;
        margin: 20px auto 0px auto;

        transform: scale(0.0);
    }
    .favorites-alerts {
        display: none;
        position: inherit;
        max-width: 400px;
        left: unset;
        top: unset;
        margin: 20px auto 0px auto;

        transform: scale(0.0);
    }
}

/* 861 <---> ??? */
@media screen and (max-width: 860px) {
    .search-location-container {
        max-width: 1500px;
    }
    #search-location-title {
        font-size: 2.5em;
        font-weight: 1000;
    }
    .search-location-cards {
        display: flex;
        flex-flow: row nowrap;
        margin: 20px;
        padding: 10px;
    }
    .location {
        display: inline-block;
        padding: 80px 100px;
        font-size: 2em;
        font-weight: 1000;
    }
}